.logout-button {
  background: transparent;
  border: none;
  color: var(--primary);
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
  padding: 0;
}

.logout-button:hover {
  text-decoration: underline;
  color: #1976d2; /* Изменено с #d9534f (красный) на #1976d2 (синий) */
}
