.input {
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--border);
    width: 100%;
    transition: 0.2s ease;
  }
  
  .input:focus {
    border-color: var(--primary);
    outline: none;
  }
  